@import "toastify-js/src/toastify.css";

@import './colors';

body {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  background: #F1F1F1;
  color: inherit;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.btn {
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.error-toast {
  display: flex;
  align-items: center;

  border-radius: 6px;

  color: #000000;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);

  .toastify-avatar {
    width: 20px;
    margin-right: 10px;
    margin-left: 0;
  }

  .toast-close {
    margin-left: 10px;
  }
}

.placeholder {
  @include theme() {
    background: getColor(placeholder);
    background-image: linear-gradient(
      to right, 
      getColor(placeholder) 0%,
      getColor(placeholderShine) 20%,
      getColor(placeholder) 40%,
      getColor(placeholder) 100%
    );
    background-repeat: no-repeat;
    background-size: 800px 104px; 
  }
  
  cursor: inherit;
  animation-duration: 1s;
  animation-fill-mode: forwards; 
  animation-iteration-count: infinite;
  animation-name: placeholderShimmer;
  animation-timing-function: linear;
}

@keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }
  
  100% {
    background-position: 468px 0; 
  }
}

.member-view {
  display: flex;

  .member-list {
    display: flex;

    .profile-view {
      margin-right: 5px;
    }
  }

  .view-members-btn {
    border-radius: 50%;
    height: 30px;
    width: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    background: none;
    
    font-size: 4px;

    opacity: 0;

    @include theme() {
      color: getColor(textLevel5);

      &:hover {
        background: getColor(secondary);
      }
    }
  }
  
  &:hover .view-members-btn {
    opacity: 1;
  }
}

.tag {
  border-radius: 4px;
  padding: 0 5px 2px 5px;
  margin-right: 5px;

  font-weight: normal;

  position: relative;

  @include theme() {
    color: getColor(textLevel3);
    
    &.green {
      background: getColor(tagGreen);
    }

    &.purple {
      background: getColor(tagPurple);
    }

    &.red {
      background: getColor(tagRed);
    }
  }

  .close-tag {
    background: none;
    border: none;

    font-size: 10px;

    position: absolute;
    right: 0;
    height: 100%;

    opacity: 0;

    @include theme() {
      color: getColor(textLevel4);
    }
  }

  &:hover {
    @include theme() {
      &.green .close-tag {
        background: getColor(tagGreenGrad);
      }

      &.purple .close-tag {
        background: getColor(tagPurpleGrad);
      }

      &.red .close-tag {
        background: getColor(tagRedGrad);
      }
    }

    .close-tag {
      opacity: 1;
    }
  }
}

.resizable .slider {
  &.slider-west {
    width: 5px;
    cursor: ew-resize;
  }

  &.slider-north {
    height: 5px;
    cursor: ns-resize;
  }

  transition: opacity 0.25s;
  transition-delay: 0.1s;
  opacity: 0;

  z-index: 1000;

  &:hover {
    opacity: 1;
  }

  @include theme() {
    background: getColor(primary);
  }
}
