.task-view {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  min-height: 0;

  .header {
    padding: 25px 35px;
    padding-top: 20px;
    position: sticky;

    display: flex;
    justify-content: space-between;

    @include theme() {
      box-shadow: 0px 4px 10px getColor(dropShadow);
    }
    
    .title {
      font-size: 25px;
    }

    .breadcrumbs {
      font-size: 14px;
      
      @include theme() {
        color: getColor(textLevel5);
      }

      .icon {
        font-size: 9px;
        margin: 0 5px;
      }
    }

    .action-section {
      display: flex;
      align-items: center;

      .modified-actions {
        display: flex;
        
        .btn {
          padding: 12px;
        }
  
        .cancel {
          margin-right: 10px;
        }
      }
    }
  }

  .body {
    overflow-y: auto;
    flex-grow: 1;

    .label {
      font-size: 13px;
      font-weight: 500;
      
      margin-bottom: 10px;
  
      @include theme() {
        color: getColor(textLevel4);
      }
  
      .icon {
        margin-right: 10px;
      }
    }
  
    .field {
      display: flex;
      align-items: center;
      font-size: 14px;
  
      @include theme() {
        color: getColor(textLevel2);
      }
  
      .tag {
        font-size: 13px;
      }
    }
  
    .info-section {
      margin: 30px;

      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  
      &-item {
        .label {
          padding-left: 5px;
          margin-bottom: 2px;
        }
  
        .field {
          height: 40px;
          border-radius: 6px;
          padding: 5px;

          transition: background 0.25s;

          .field-selected {
            margin: auto 0;
          }

          &.editing .field-selected {
            margin-left: 6px;
          }

          &:hover {
            @include theme() {
              background: getColor(secondary);
            }

            &.editing,&.disabled {
              background: transparent;
            }
          }
        }
      }
    }
  
    .description {
      margin: 30px;

      .label {
        padding-left: 5px;
      }

      

      .text-editor {
        border-radius: 6px;
        padding: 5px;

        transition: background 0.25s;

        &.read-only:hover {
          @include theme() {
            background: getColor(secondary);
          }
        }
      }
    }
  
    .comments {
      margin: 30px;
      margin-top: 45px;
    }
  }
}
